<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Liste de séries en VueJs</title>
  </head>
  <body>
    <div id="app">
      <router-view></router-view>
    </div>

    <script type="text/x-template" id="home">

                 <div class="home-container">

                   <nav class="nav">
                   <input v-model='query'id="search" type="search" placeholder='Rechercher une série' class="query">
                   <span v-if='query && filteredByName.length >= 1'>
                  {{filteredByName.length}} résultat<span v-if='filteredByName.length > 1'>s</span>
               </span>
           </nav>
           <div class="tvshows-length"> <span
           >Il y'a {{tvShows.length}} séries tv

        <!--    <button @click='filterByGenre'></button> -->
        </span>
      </div>

           <TransitionGroup name="list" tag="ul" class="card-container" >
             <li v-for='tvShow in filteredByName' :key='tvShow.id'class="card" >
                             <div class="img-container" >
                                 <img  v-bind:src='tvShow.image.medium' class="poster"alt="">
                             </div>
                             <ul class="card-text">
                                 <li><span name='name'>Titre</span> : {{tvShow.name}}</li>
                                 <li><span >Status</span>:<span class="status"v-bind:name='tvShow.status'>{{tvShow.status}} </span></li>
                                 <li><span>Type</span>: {{tvShow.type}}</li>
                                 <li><span>Genre</span>:
                                   <span v-for='genre in tvShow.genres'>
                                    <!--  <span>{{genre.tvShow.genres}}</span> -->
                                   </span>
                                   {{tvShow.genres}}</li>
                                 <li class="year"><span>Année</span>: {{tvShow.premiered}}</li>
                                 <li class="summary"><span>Synopsis</span>: {{tvShow.summary}}</li>
                             </ul>
                         </li>
           </TransitionGroup>
                 </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="./vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </body>
</html>
