.html {
  font-family: "Calibri";
}
body {
  margin: 0px;
  background-color: grey;
}
.nav {
  display: flex;
  height: 60px;
  line-height: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav > span {
  height: 60px;
  line-height: 60px;
  padding: 0 2em;
  font-family: Calibri;
  font-size: 1.2em;
}
.tvshows-length {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-family: Calibri;
  font-size: 1.2em;
}
.query {
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  padding: 1em;
  font-family: Calibri;
}
.tvshows-length {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.searchbar {
  border: none;
  border-radius: 2px;
  height: 20px;
}
.searchbar:focus {
  border: solid 1px rgb(42, 95, 211);
  border-radius: 2px;
  height: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}
.card {
  width: 337px;
  height: auto;
  margin: 0.5em 0.5em;
  border: solid black 1px;
  border-radius: 2px;
  background-color: white;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
  box-shadow: 5px 5px 15px 5px #292929;
}
.img-container {
  width: 100%;
  height: auto;
}
.card-text {
  height: 100%;
  width: 90%;
  margin: auto;
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  padding: 20px 20px;
}
.poster {
  width: 100%;
  height: auto;
}
/* .poster:hover {
  transform: scale(0);
  transition: 3s;
} */
.year {
  margin: auto;
}
span {
  font-weight: bold;
}
.status {
  cursor: pointer;
  font-weight: 400;
}

/* @media screen and (max-width: 400px) {
  .query {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    padding: 1em;
    font-family: Calibri;
  }
} */
/* animation */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
